.tiles {
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
}

.oldpage {
  background-color: #f8f5de;
  background-image: linear-gradient(
    to right,
    rgba(255, 210, 0, 0.4),
    rgba(200, 160, 0, 0.1) 11%,
    rgba(0, 0, 0, 0) 35%,
    rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
    inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
  color: rgba(0, 0, 0, 0.5);
  font-family: "AustralisProSwash-Italic";
  letter-spacing: 0.05em;
  line-height: 1.8;
  padding: 5em 5em;
  width: 70%;
  margin: auto;
}

body {
  font-size: 14px;
  font-weight: 600;
  background-image: url("galaxy.jpg");
}

.detail::first-letter {
  color: rgba(0, 0, 0, 0.7);
  float: left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position: relative;
  top: 8px;
}
.contact {
  color: white;
}

.headfont {
  font-size: 48px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font: bold;
}
